<h3>User List</h3>
<ul>
  {{#each model as |user|}}
    <li>
      {{#link-to "users.edit" user}}{{user.username}}{{/link-to}}
      ({{user.email}})
      <button {{action "deleteUser" user}}>Delete</button>
    </li>
  {{/each}}
</ul>
